<form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
  <label for="name">Name</label>
  <input type="text" id="name" formControlName="name" />

  <p *ngIf="submitted && !contactForm.get('name').valid">
    Name is required and need to have min 3 characters
  </p>

  <label for="email">Email</label>
  <input type="text" id="email" formControlName="email" />

  <p *ngIf="submitted && !contactForm.get('email').valid">
    Email is required and need to be type email
  </p>

  <label for="phone">Phone</label>
  <input type="text" id="phone" formControlName="phone" />

  <p *ngIf="submitted && !contactForm.get('phone').valid">
    Phone is required and need to have 9 characters
  </p>

  <label for="descripcion">Description</label>
  <textarea
    formControlName="description"
    id="description"
    cols="30"
    rows="10"
  ></textarea>

  <p *ngIf="submitted && !contactForm.get('description').valid">
    Description is required and need to have 5-255 characters
  </p>

  <div>
    <!-- <button>Enviar</button> -->
    <input type="submit" value="Enviar" />
  </div>
</form>
