<div *ngIf="characterDetail">
  <h1>{{ characterDetail.name }}</h1>
  <img src="{{ characterDetail.image }}" alt="" />
  <p>Gender: {{ characterDetail.gender }}</p>
  <p>Status: {{ characterDetail.status }}</p>
  <p>Origin: {{ characterDetail.origin.name }}</p>
</div>
