<button
  (click)="newPageEmit(paginationInfo.page - 1)"
  *ngIf="paginationInfo.page > 1"
>
  <
</button>
{{ paginationInfo.page }}
<button
  (click)="newPageEmit(paginationInfo.page + 1)"
  *ngIf="paginationInfo.page < paginationInfo.pages"
>
  >
</button>

<!-- <button *ngIf="paginationInfo.prev" (click)="previousContent()"><</button>
<button *ngIf="paginationInfo.next" (click)="nextContent()">></button> -->
