<nav>
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/characters']">Characters</a></li>
    <li><a [routerLink]="['/locations']">Locations</a></li>
    <li><a [routerLink]="['/favorites']">Favorites</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
  </ul>
</nav>
