<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of list">
    <figure
      [routerLink]="
        '/' + (item.image ? 'characters' : 'locations') + '/' + item.id
      "
      class="c-gallery__figure"
    >
      <img
        src="{{
          item.image ? item.image : '../../../assets/img/planet_earth.jpeg'
        }}"
        alt="Imagen Personaje"
        class="c-gallery__img"
      />
      <figcaption class="c-gallery__text">{{ item.name }}</figcaption>
      <button (click)="addOrRemoveToFavorites($event, item)">
        {{
          flagShowFavoriteButton ? "Add to favorites" : "Remove from favorites"
        }}
      </button>
    </figure>
  </div>
</div>
